# dependencies
node_modules

# build output
.svelte-kit
build
dist

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
.vscode
.idea

# local compose override
docker-compose.yml
